
.limpiar {
    text-align: left;
    padding: 20px;
}

.butonLimpiar {
    color: rgb(0, 0, 0);
    background: #9ae65d;
}

.lu {
    display: grid;
    justify-content: center ;
    text-align: center;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    list-style: none;
    width: 200px;
    height: 30px;
    border: 3px solid black;
    margin: 4px;
    padding-left: 3%;
    color: black;
}

.text {
    flex: 1;
    text-align: left;
    font-size: medium;
}

.btnEliminar {
    text-align: right;
    background: white;
    color: black;
    width: auto;
    height: 100%;
}

.input {
    width: 80%;
    height: 30px;
    background: #daa3ff;
}

.agregar {
    position: relative;
    top: -7px;
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
    background: #5de6c8;
}